# Test framework
pytest
pyaudio
ggwave

# Build dependencies for ggwave C++, and pyaudio extensions
# These are needed for the initial build only
# Cython, wheel, setuptools will be installed by setup_local_deps.py if needed
